{% extends 'core/base.html' %}

    {% block title %} Edit transactions {% endblock %}
    {% block head %}
        <style>
            table, tr, th, td {
                border:1px solid black;
                border-collapse:collapse;
                }
            table input {border:none !important;height:100% !important;width:100% !important; padding:0px !important;}
            table td{padding:0px !important;}
            table td b{padding:8px !important;}
            div.titleWrap {width:100%;float:left;}
            .titleWrap h2 {float:left;}
            div#instructions{width:50%;min-width:600px;}
            #instructTitle{cursor:pointer;font-size:12px;}
            .save{margin-top:5px;}
            .warning{color:red;font-weight:bold;}
        </style>
        {% load staticfiles %}    
            <link rel=stylesheet href="{% static "core/css/info.css" %}" type="text/css">
    {% endblock %}    
    {% block content %}
        <div id="content" style="width:100%">
    <h1>Transactions for {{contact.organisation}} in {{selected_year}}</h1>
    <h3>Instructions to fill in the form <span onclick="$('#instructions').slideToggle()" id="instructTitle">(show/hide)</span></h3>
    <div id="instructions"
    {% if spreadsheet_exists %}
        style="display:none;"
    {% endif %}
    >
    <p>
        Information sought via this form tracks cash and voucher programming for a number of donors in 2016.
    </p>
    <p>
        Please complete all fields on grants (comprised of overall programming, transfers to beneficiaries, cash and voucher breakdown and conditional and unconditional breakdown). If no grants were awarded please leave blank. 
    </p>
    <p>
        The form data is organised by calendar year (January to December), not fiscal year.
    </p>
    <p>
        NB: Any subsequent users or revisions to the data will overwrite previously recorded information.
    </p>
    <p>
        To select the year and the currency, please choose the relevant option in the drop-down. If you require an additional currency than those listed, please do let us know and we can add this in for you. 
    </p>
    <p>
        Use the comment box to add further information about data you have filled in and processes that need clarifying to ensure an accurate reflection of your contributions.
    </p>
    <p>
        To save and submit your data, press ‘Save’ at the bottom of the page. In order to check your data, press ‘Export previously saved data’.
    </p>
    <h3>Key definitions:</h3>
    <p>
        <b>
            Cash and voucher programming
        </b><br/>
        CVP refers to all programs where cash or vouchers for goods or services is directly provided to beneficiaries. In the context of humanitarian assistance the term is used to refer to the provision of cash transfers or vouchers given to individuals, household or community recipients; not to governments or other state actors. CVP covers all modalities of cash-based assistance. This excludes remittances and microfinance in humanitarian interventions (although microfinance and money transfer institutions may be used for the actual delivery of cash). The term can be used interchangeably with Cash Based Interventions, Cash Based Assistance, and Cash Transfer Programming.
    </p>
    <p>
        <b>
            Cash transfer
        </b><br/>
        The provision of assistance in the form of money (either physical currency/cash or e-cash) to beneficiaries (individuals, households or communities). Cash transfers as a modality are distinct from both vouchers and in-kind assistance.
    </p>
    <p>
        <b>
            Conditional transfer
        </b><br/>
        A conditional transfer requires beneficiaries to undertake a specific action/activity (e.g. attend school, build a shelter, attend nutrition screenings, undertake work, etc.) to receive assistance; i.e. a condition must be fulfilled before the transfer is received. Cash for work/assets/training are all forms of conditional transfer. 
    </p>
    <p>
        <b>
            Multi-sector 
        </b><br/>
        In the context of sectoral disaggregation of grants and for the purposes of this form, multi-sector refers primarily to projects and activities with no one dominant sector and often applies to assistance for refugees provided and/or coordinated by the UN High Commissioner for Refugees (UNHCR). This definition is in line with the Inter-Agency Standing Committee’s (IASC) sectoral definitions.
    </p>
    <p>
        <b>
            Unconditional transfer
        </b><br/>
        Unconditional transfers are provided to beneficiaries without the recipient having to do anything in return to receive the assistance. 
    </p>
    <p>
        <b>
            Voucher
        </b><br/>
        A paper, token or e-voucher that can be exchanged for a set quantity or value of goods, denominated either as a cash value (e.g. $15) or predetermined commodities or services (e.g. 5 kg maize; milling of 5kg of maize), or a combination of value and commodities. They are redeemable with preselected vendors or in ‘fairs’ created by the agency. Vouchers are used to provide access to a range of goods or services, at recognized retail outlets or service centres. Vouchers are by default a restricted form of transfer, although there are wide variations in the degree of restriction/flexibility different voucher-based programmes may provide. The terms vouchers, stamps, or coupons are often used interchangeably. 
    </p>
    <p>
        Source: All cash related definitions are taken from CaLP’s glossary, please see more at: <a href="http://www.cashlearning.org/resources/glossary">http://www.cashlearning.org/resources/glossary</a>
    </p>
    </div>
        <label>Year:</label>
        <select id="year">
            
            {% for year in years%}
                {% if year.value == selected_year %}
                <option value="{{year.value}}" selected="selected">{{year.value}}</option>
                {% else %}
                <option value="{{year.value}}">{{year.value}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button id="yearBtn">Go</button>
    </p>
    <script>
        $("#yearBtn").click(function(){
            var yearVal = $("#year").val();
            if (yearVal!={{selected_year}}) {
                var url =  "{% url 'core.views.edit' 2016 %}".replace("2016",yearVal);
                window.location.replace(url);
            };
        });
    </script>
    <form method="POST" class="transaction-form">{% csrf_token %}
        <div class="fieldWrapper">
            {{ form.currency.errors }}
            <label for="{{ form.currency.id_for_label }}">Currency:</label>
            {{ form.currency }}
        </div>
    <div class="titleWrap">
        <h2>Grants</h2>
    </div>
    <table>
        <tr>
            <th></th>
            {% for recipient in recipients %}
                <th>{{recipient.name}}</th>
            {% endfor %}
        </tr>
    {% for scode, status in statuses %}
        <tr>
            <td><b>{{status}}</b></td>
            {% for recipient in recipients %}
                <td><input type="text" name="{{scode}}|{{recipient.single_letter_code}}|"/></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <div class="titleWrap">
        <h2>Grant contributions by sector</h2>
    </div>
    <table>
        <tr>
            <th></th>
            {% for recipient in recipients %}
                <th>{{recipient.name}}</th>
            {% endfor %}
        </tr>
    {% for sector in sectors %}
        <tr>
            <td><b>{{sector}}</b></td>
            {% for recipient in recipients %}
                <td><input type="text" name="|{{recipient.single_letter_code}}|{{sector}}"/></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <div class="fieldWrapper" style="padding-top:10px">
        {{ form.multisector_comment.errors }}
        <label for="{{ form.multisector_comment.id_for_label }}">Multisector details:</label>
        {{ form.multisector_comment }}
    </div>
    <div class="fieldWrapper" style="padding-top:10px">
        {{ form.othersector_comment.errors }}
        <label for="{{ form.othersector_comment.id_for_label }}">Other - please provide a brief description:</label>
        {{ form.othersector_comment }}
    </div>
    <div class="titleWrap">
        <h2>2017 data availability</h2>
    </div>
        <div class="fieldWrapper">
            {{ form.availability_date.errors }}
            <label for="{{ form.availability_date.id_for_label }}">Date 2017 data on cash-based programming is scheduled to be available:</label>
            {{ form.availability_date }}
        </div>
        <div class="fieldWrapper">
            {{ form.comment.errors }}
            <label for="{{ form.comment.id_for_label }}">Comments:</label>
            {{ form.comment }}
        </div>
        {% for warning in warnings %}
            <p class="warning">{{warning}}</p>
        {% endfor %}
        <button type="submit" class="save btn btn-default">Save</button>
        <button class="export">Export previously saved data</button>
    </form>
    <script>
//        Function to toggle the popups
    toggle = function(selector){
        $(".popup#"+selector).slideToggle()
    };
//    Functions to control Excel-like arrowkeying
    var currentRow = 1;
    var currentCell = 1;
    var trLen = $('tr').length - 1;
    var tdMax = 0
    $('tr').each(function(i,e){
        var tdCount = e.getElementsByTagName('td').length - 1;
        if (tdCount>tdMax) {
            tdMax = tdCount
        };
    });

    function ChangeCurrentCell() {
        if (currentRow<1) {
            currentRow = 1;
        }
        if (currentCell<1) {
            currentCell = 1;
        }
        if (currentRow>trLen) {
            currentRow = trLen;
        }
        if (currentCell>tdMax) {
            currentCell=tdMax
        }
        var tableRow = $('tr')[currentRow];
        var tableCell = tableRow.children[currentCell];
        if (tableCell!==undefined) {
            var cellInput = tableCell.getElementsByTagName("input");
            if (cellInput.length>0) {
                cellInput[0].focus();
                cellInput[0].select();
            };
        };
    };
    function GetCurrentCell() {
        var activeElement = document.activeElement;
        var tableCell = activeElement.parentElement;
        var tableRow = tableCell.parentElement;
        currentCell = Array.prototype.indexOf.call(tableRow.children, tableCell);
        currentRow = Array.prototype.indexOf.call($('tr'), tableRow);
    }
    $('input').on("focus",GetCurrentCell);

    $(document).keydown(function(e){
        if (e.keyCode == 37) { 
           currentCell--;
           ChangeCurrentCell();
           return false;
        }
        if (e.keyCode == 38) { 
           currentRow--;
           ChangeCurrentCell();
           return false;
        }
        if (e.keyCode == 39) { 
           currentCell++;
           ChangeCurrentCell();
           return false;
        }
        if (e.keyCode == 40) { 
           currentRow++;
           ChangeCurrentCell();
           return false;
        }
    });
//    Functions to fill in cells from Django input
    {% for entry in entries %}
        $( "input[name='{{entry.coordinates}}']" ).val("{{entry.amount}}"=="None"?"":"{{currency.symbol}}"+"{{entry.amount}}".replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"))
    {% endfor %}
//    Functions to warn if leaving and changes made
    $('input').change(function() {
        if( $(this).val() != "" ){
            window.onbeforeunload = function(e) {
                var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
                e.returnValue = dialogText;
                return dialogText;
            };
        }
    });
    $('textarea').change(function() {
        if( $(this).val() != "" ){
            window.onbeforeunload = function(e) {
                var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
                e.returnValue = dialogText;
                return dialogText;
            };
        }
    });
    $( "button.export" ).change(function() {
        if( $(this).val() != "" ){
            window.onbeforeunload = function(e) {
                var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
                e.returnValue = dialogText;
                return dialogText;
            };
        }
    });
    $('select:not(#year)').change(function() {
        window.onbeforeunload = function(e) {
            var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
            e.returnValue = dialogText;
            return dialogText;
        };
    });
    $( "button[type='submit']" ).click(function(){
        window.onbeforeunload = function () {
            // blank function do nothing
        };
    });
    $( "button.export" ).mousedown(function(){
        var url =  "{{ contact.organisation.get_export_url }}";
        window.open(url, '_blank');
    });
    </script>
    </div>
    {% endblock %}
