{% extends 'core/base.html' %}

    {% block title %} Edit transactions {% endblock %}
    {% block head %}
        <style>
            table, tr, th, td {
                border:1px solid black;
                border-collapse:collapse;
                }
            table input {border:none !important;height:100% !important;width:100% !important; padding:0px !important;}
            table td{padding:0px !important;}
            table td b{padding:8px !important;}
            div.titleWrap {width:100%;float:left;}
            .titleWrap h2 {float:left;}
            div#instructions{width:50%;min-width:600px;}
            #instructTitle{cursor:pointer;font-size:12px;}
            .save{margin-top:5px;}
            .warning{color:red;font-weight:bold;}
        </style>
        {% load staticfiles %}    
            <link rel=stylesheet href="{% static "core/css/info.css" %}" type="text/css">
    {% endblock %}    
    {% block content %}
        <div id="content" style="width:100%">
    <h1>Transactions for {{organisation}} in {{selected_year}}</h1>
    <h3>Instructions to fill in the form <span onclick="$('#instructions').slideToggle()" id="instructTitle">(show/hide)</span></h3>
    <div id="instructions"
    {% if spreadsheet_exists %}
        style="display:none;"
    {% endif %}
    >
    <p>
        Information sought via this form tracks progress made in 2017 by donors against pledges made at the 2017 Brussels conference, included on the ‘Co-hosts statement annex: fundraising’, found <a href="http://www.consilium.europa.eu/en/meetings/international-summit/2017/04/05/">here</a>.
    </p>
    <p>
        Complete all fields on contributions (comprised of commitments, contracted funding and disbursements). If no commitment/contracted funding/disbursement was made please write '0'. If information is not yet available please leave blank.
    </p>
    <p>The form data is organised by calendar year (January to December), not fiscal year.</p>
<!--    <p>Before submitting the form, check the data validation fields.</p>-->
    <p>
        Pledges and funding labelled as ‘multi-country’ refer to instances where funding is directed (or will be directed) to two or more (but not all) specified countries in the Syria region. This differs from pledges and funding labelled as going to the ‘region’, which is specified as funding for the regional response by donors and may go to all countries in the region; as well as ‘not defined’, which refers to pledges and funding where no country or regional detail has been provided.
    </p>
    <p>
    NB: Any subsequent users or revisions to the data will overwrite previously recorded information.
    </p>
    <p>
    To select the year and the currency, please choose the relevant option in the drop-down.
    </p>
    <p>
    Use the comment box to add further information about data you have filled in and processes that need clarifying to ensure an accurate reflection of your contributions.
    </p>
    <p>
    To save and submit your data, press ‘Save’ at the bottom of the page.
    In order to check your data, press ‘Export previously saved data’.
    </p>
    <p>
    Email <a href="mailto:syriatracking@devinit.org">syriatracking@devinit.org</a> for any clarifications or if you have any issues. 
    </p>
    <h3>Key definitions:</h3>
    <p>
        <b>
            Commitment 
        </b><br/>
        A firm plan, expressed in writing and backed by the necessary funds, undertaken by an official donor to provide specified assistance to a recipient country government, organisation or implementing agency. In the context of this form, commitments refer to those funds which have been committed but not yet contracted or disbursed.
    </p>
    <p>
        <b>
            Concessional loans
        </b><br/>
        Concessional loans benefits can include a lower interest rate, a longer period in which the loan has to be repaid or a delay to when the repayment has to begin. The World Bank’s concessional loans typically meet IDA equivalent lending terms, which carry no or low interest rates. If a loan is highly concessional, it will typically have a grant element of at least 35% with a discount rate of 5%.
    </p>
    <p>
        <b>
            Contributions
        </b><br/>
        For the purpose of this form, contributions is used as a general term to refer to the sum of all funds reported as committed, contracted and disbursed.
    </p>
    <p>
        <b>
            Contract
        </b><br/>
        A binding agreement signed between a donor and a recipient implementing institution, organisation or agency to implement an action. Funds can then be disbursed on this basis. In the context of this form, contracted funding refers to those funds which have been contracted but not yet disbursed.
    </p>
    <p>
        <b>
            Disbursement
        </b><br/>
        Outgoing funds that are transferred to a recipient institution, organisation or agency, following a commitment and/ or a contract. In the context of this form, disbursements refer to funds disbursed from the donor to the first level recipient not to the funds which are ultimately spent at the project level.
    </p>
    <p>
        <b>
            Loan concessionality level
        </b><br/>
        The concessionality level of a loan reflects the benefit to the borrower compared with a loan at market rate.   
    </p>
    <p>
        <b>
            Multi-sector
        </b><br/>
        In the context of sectoral disaggregation of grants and for the purposes of this form, multi-sector refers primarily to projects and activities with no one dominant sector and often applies to assistance for refugees provided and/or coordinated by the UN High Commissioner for Refugees (UNHCR). This definition is in line with the Inter-Agency Standing Committee’s (IASC) sectoral definitions.  
    </p>
    <p>
    <p>
        <b>
            Non-concessional loans
        </b><br/>
        The World Bank’s non-concessional loans will typically be based on IBRD’s market based rates. 
    </p>
    <p>
        <b>
            Pledge
        </b><br/>
        A non-binding announcement of an intended contribution or allocation by donors. In this context, pledges refer to those made at the Brussels Conference.  
    </p>
    <p>
        <b>
            Region
        </b><br/>
        In the context of the Brussels Conference, this refers to Egypt, Iraq, Jordan, Lebanon and Turkey.
    </p>
    <p>
        <b>
            Unearmarked
        </b><br/>
        In the context of this form, unearmarked refers to funding that is deliberately not directed to any particular sector by the donor. This differs from ‘sector not specified’ where details of sector-specific allocation are not available from the reports provided by the donors.  
    </p>
    </div>
        <label>Change year:</label>
        <select id="year">
            
            {% for year in years%}
                {% if year.value == selected_year %}
                <option value="{{year.value}}" selected="selected">{{year.value}}</option>
                {% else %}
                <option value="{{year.value}}">{{year}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button id="yearBtn">Go</button>
    </p>
    <script>
        $("#yearBtn").click(function(){
            var yearVal = $("#year").val();
            if (yearVal!={{selected_year}}) {
                var url =  "{% url 'core.views.adminEdit' organisation.slug 2016 %}".replace("2016",yearVal);
                window.location.replace(url);
            };
        });
    </script>
    <form method="POST" class="transaction-form">{% csrf_token %}
        {{ form.as_p }}
    <div class="titleWrap">
        <h2>Grants</h2>
    </div>
    <table>
        <tr>
            <th></th>
            {% for rcode, recip in recipients %}
                <th>{{recip}}</th>
            {% endfor %}
        </tr>
    {% for scode, status in statuses %}
        <tr>
            <td><b>{{status}}</b></td>
            {% for rcode, recip in recipients %}
                <td><input type="text" name="{{scode}}|{{rcode}}|"/></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <div class="titleWrap">
        <h2>Grant contributions by sector</h2>
    </div>
    <table>
        <tr>
            <th></th>
            {% for rcode, recip in recipients %}
                <th>{{recip}}</th>
            {% endfor %}
        </tr>
    {% for sector in sectors %}
        <tr>
            <td><b>{{sector}}</b></td>
            {% for rcode, recip in recipients %}
                <td><input type="text" name="|{{rcode}}|{{sector}}"/></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
        {% for warning in warnings %}
            <p class="warning">{{warning}}</p>
        {% endfor %}
        <button type="submit" class="save btn btn-default">Save</button>
        <button class="export">Export previously saved data</button>
    </form>
    <script>
//        Function to toggle the popups
    toggle = function(selector){
        $(".popup#"+selector).slideToggle()
    };
//    Functions to control Excel-like arrowkeying
    var currentRow = 1;
    var currentCell = 1;
    var trLen = $('tr').length - 1;
    var tdMax = 0
    $('tr').each(function(i,e){
        var tdCount = e.getElementsByTagName('td').length - 1;
        if (tdCount>tdMax) {
            tdMax = tdCount
        };
    });

    function ChangeCurrentCell() {
        if (currentRow<1) {
            currentRow = 1;
        }
        if (currentCell<1) {
            currentCell = 1;
        }
        if (currentRow>trLen) {
            currentRow = trLen;
        }
        if (currentCell>tdMax) {
            currentCell=tdMax
        }
        var tableRow = $('tr')[currentRow];
        var tableCell = tableRow.children[currentCell];
        if (tableCell!==undefined) {
            var cellInput = tableCell.getElementsByTagName("input");
            if (cellInput.length>0) {
                cellInput[0].focus();
                cellInput[0].select();
            };
        };
    };
    function GetCurrentCell() {
        var activeElement = document.activeElement;
        var tableCell = activeElement.parentElement;
        var tableRow = tableCell.parentElement;
        currentCell = Array.prototype.indexOf.call(tableRow.children, tableCell);
        currentRow = Array.prototype.indexOf.call($('tr'), tableRow);
    }
    $('input').on("focus",GetCurrentCell);

    $(document).keydown(function(e){
        if (e.keyCode == 37) { 
           currentCell--;
           ChangeCurrentCell();
           return false;
        }
        if (e.keyCode == 38) { 
           currentRow--;
           ChangeCurrentCell();
           return false;
        }
        if (e.keyCode == 39) { 
           currentCell++;
           ChangeCurrentCell();
           return false;
        }
        if (e.keyCode == 40) { 
           currentRow++;
           ChangeCurrentCell();
           return false;
        }
    });
//    Functions to fill in cells from Django input
    {% for entry in entries %}
        $( "input[name='{{entry.coordinates}}']" ).val("{{entry.amount}}"=="None"?"":"{{currency.symbol}}"+"{{entry.amount}}".replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"))
    {% endfor %}
//    Functions to warn if leaving and changes made
    $('input').change(function() {
        if( $(this).val() != "" ){
            window.onbeforeunload = function(e) {
                var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
                e.returnValue = dialogText;
                return dialogText;
            };
        }
    });
    $('textarea').change(function() {
        if( $(this).val() != "" ){
            window.onbeforeunload = function(e) {
                var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
                e.returnValue = dialogText;
                return dialogText;
            };
        }
    });
    $( "button.export" ).change(function() {
        if( $(this).val() != "" ){
            window.onbeforeunload = function(e) {
                var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
                e.returnValue = dialogText;
                return dialogText;
            };
        }
    });
    $('select:not(#year)').change(function() {
        window.onbeforeunload = function(e) {
            var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
            e.returnValue = dialogText;
            return dialogText;
        };
    });
    $( "button[type='submit']" ).click(function(){
        window.onbeforeunload = function () {
            // blank function do nothing
        };
    });
    $( "button.export" ).mousedown(function(){
        var url =  "{{ organisation.get_export_url }}";
        window.open(url, '_blank');
    });
    </script>
    </div>
    {% endblock %}
