{% extends 'core/base.html' %}

    {% block title %} Edit transactions {% endblock %}
    {% block head %}
        <style>
            table, tr, th, td {
                border:1px solid black;
                border-collapse:collapse;
                }
            table input {border:none;height:100%;width:100%;}
            div.titleWrap {width:100%;float:left;}
            .titleWrap h2 {float:left;}
        </style>
        {% load staticfiles %}    
            <link rel=stylesheet href="{% static "core/css/info.css" %}" type="text/css">
    {% endblock %}    
    {% block content %}
    <h1>Transactions for {{contact.organisation}} in {{selected_year}}</h1>
    <p>
        <label>Change year:</label>
        <select id="year">
            
            {% for year1, year2 in years%}
                {% if year1 == selected_year %}
                <option value="{{year1}}" selected="selected">{{year1}}</option>
                {% else %}
                <option value="{{year1}}">{{year1}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button id="yearBtn">Go</button>
    </p>
    <script>
        $("#yearBtn").click(function(){
            var yearVal = $("#year").val();
            var url =  "{% url 'core.views.edit' 2016 %}".replace("2016",yearVal);
            window.location.replace(url);
        });
    </script>
    <form method="POST" class="transaction-form">{% csrf_token %}
        {{ form.as_p }}
    {% if contact.organisation.grant_making %}
    <div class="titleWrap">
        <h2>Grants</h2>
        <div class="info" onclick="toggle('grants')"></div>
        <div class="popupWrap">
            <div class="popup" id="grants">Information on grants</div>
        </div>
    </div>
    <table>
        <tr>
            <th></th>
            {% for rcode, recip in recipients %}
                <th>{{recip}}</th>
            {% endfor %}
        </tr>
    {% for scode, status in statuses %}
        <tr>
            <td><b>{{status}}</b></td>
            {% for rcode, recip in recipients %}
                <td><input type="text" name="G|C|{{scode}}|{{rcode}}|||"/></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    {% if contact.organisation.loan_making %}
    <div class="titleWrap">
        <h2>Loans - Concessional</h2>
        <div class="info" onclick="toggle('loansC')"></div>
        <div class="popupWrap">
            <div class="popup" id="loansC">Information on loans - concessional</div>
        </div>
    </div>
    <table>
        <tr>
            <th></th>
            {% for rcode, recip in recipients %}
                <th>{{recip}}</th>
            {% endfor %}
        </tr>
    {% for scode, status in statuses %}
        <tr>
            <td><b>{{status}}</b></td>
            {% for rcode, recip in recipients %}
                <td><input type="text" name="L|C|{{scode}}|{{rcode}}|||"/></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <div class="titleWrap">
        <h2>Loans - Non-concessional</h2>
        <div class="info" onclick="toggle('loansN')"></div>
        <div class="popupWrap">
            <div class="popup" id="loansN">Information on loans - non-concessional</div>
        </div>
    </div>
    <table>
        <tr>
            <th></th>
            {% for rcode, recip in recipients %}
                <th>{{recip}}</th>
            {% endfor %}
        </tr>
    {% for scode, status in statuses %}
        <tr>
            <td><b>{{status}}</b></td>
            {% for rcode, recip in recipients %}
                <td><input type="text" name="L|N|{{scode}}|{{rcode}}|||"/></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    {% if selected_year in facility_years and contact.organisation.government %}
    <div class="titleWrap">
        <h2>Facility contributions</h2>
        <div class="info" onclick="toggle('facility')"></div>
        <div class="popupWrap">
            <div class="popup" id="facility">Information on facility contributions</div>
        </div>
    </div>
    <table>
        <tr>
            <th></th>
            <th>Turkey</th>
        </tr>
    {% for scode, status in statuses %}
        <tr>
            <td><b>{{status}}</b></td>
            <td><input type="text" name="|N|{{scode}}|T|||F"/></td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    {% if contact.organisation.grant_making %}
    <div class="titleWrap">
        <h2>Sector contributions - grants</h2>
        <div class="info" onclick="toggle('sectorG')"></div>
        <div class="popupWrap">
            <div class="popup" id="sectorG">Information on sector contributions - grants</div>
        </div>
    </div>
    <table>
        <tr>
            <th></th>
            {% for rcode, recip in recipients %}
                <th>{{recip}}</th>
            {% endfor %}
        </tr>
    {% for sector in sectors %}
        <tr>
            <td><b>{{sector}}</b></td>
            {% for rcode, recip in recipients %}
                <td><input type="text" name="G|C||{{rcode}}|{{sector}}||"/></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    {% if contact.organisation.loan_making %}
    <div class="titleWrap">
        <h2>Sector contributions - loans</h2>
        <div class="info" onclick="toggle('sectorL')"></div>
        <div class="popupWrap">
            <div class="popup" id="sectorL">Information on sector contributions - loans</div>
        </div>
    </div>
    <table>
        <tr>
            <th></th>
            {% for rcode, recip in recipients %}
                <th>{{recip}}</th>
            {% endfor %}
        </tr>
    {% for sector in sectors %}
        <tr>
            <td><b>{{sector}}</b></td>
            {% for rcode, recip in recipients %}
                <td><input type="text" name="L|||{{rcode}}|{{sector}}||"/></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    {% if contact.organisation.grant_making %}    
    <div class="titleWrap">
        <h2>Channel contributions - grants</h2>
        <div class="info" onclick="toggle('channel')"></div>
        <div class="popupWrap">
            <div class="popup" id="channel">Information on channel contributions - grants</div>
        </div>
    </div>
    <table>
        <tr>
            <th></th>
            {% for rcode, recip in recipients %}
                <th>{{recip}}</th>
            {% endfor %}
        </tr>
    {% for ccode, channel in channels %}
        <tr>
            <td><b>{{channel}}</b></td>
            {% for rcode, recip in recipients %}
                <td><input type="text" name="G|C||{{rcode}}||{{ccode}}|"/></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    {% endif %}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <script>
//        Function to toggle the popups
    toggle = function(selector){
        $(".popup#"+selector).slideToggle()
    };
//    Functions to control Excel-like arrowkeying
    var currentRow = 1;
    var currentCell = 1;
    var trLen = $('tr').length - 1;
    var tdMax = 0
    $('tr').each(function(i,e){
        var tdCount = e.getElementsByTagName('td').length - 1;
        if (tdCount>tdMax) {
            tdMax = tdCount
        };
    });

    function ChangeCurrentCell() {
        if (currentRow<1) {
            currentRow = 1;
        }
        if (currentCell<1) {
            currentCell = 1;
        }
        if (currentRow>trLen) {
            currentRow = trLen;
        }
        if (currentCell>tdMax) {
            currentCell=tdMax
        }
        var tableRow = $('tr')[currentRow];
        var tableCell = tableRow.children[currentCell];
        if (tableCell!==undefined) {
            var cellInput = tableCell.getElementsByTagName("input");
            if (cellInput.length>0) {
                cellInput[0].focus();
                cellInput[0].select();
            };
        };
    };
    function GetCurrentCell() {
        var activeElement = document.activeElement;
        var tableCell = activeElement.parentElement;
        var tableRow = tableCell.parentElement;
        currentCell = Array.prototype.indexOf.call(tableRow.children, tableCell);
        currentRow = Array.prototype.indexOf.call($('tr'), tableRow);
    }
    $('input').on("focus",GetCurrentCell);

    $(document).keydown(function(e){
        if (e.keyCode == 37) { 
           currentCell--;
           ChangeCurrentCell();
           return false;
        }
        if (e.keyCode == 38) { 
           currentRow--;
           ChangeCurrentCell();
           return false;
        }
        if (e.keyCode == 39) { 
           currentCell++;
           ChangeCurrentCell();
           return false;
        }
        if (e.keyCode == 40) { 
           currentRow++;
           ChangeCurrentCell();
           return false;
        }
    });
//    Functions to fill in cells from Django input
    {% for entry in entries %}
        $( "input[name='{{entry.coordinates}}']" ).val("{{entry.amount}}"=="None"?"":"{{currency.symbol}}"+"{{entry.amount}}".replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"))
    {% endfor %}
//    Functions to warn if leaving and changes made
    $('input').change(function() {
        if( $(this).val() != "" ){
            window.onbeforeunload = function(e) {
                var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
                e.returnValue = dialogText;
                return dialogText;
            };
        }
    });
    $('textarea').change(function() {
        if( $(this).val() != "" ){
            window.onbeforeunload = function(e) {
                var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
                e.returnValue = dialogText;
                return dialogText;
            };
        }
    });
    $('select:not(#year)').change(function() {
        window.onbeforeunload = function(e) {
            var dialogText = 'Do you want to leave this site? Changes that you made may not be saved.';
            e.returnValue = dialogText;
            return dialogText;
        };
    });
    $( "button[type='submit']" ).click(function(){
        window.onbeforeunload = function () {
            // blank function do nothing
        };
    });
    </script>
    {% endblock %}
